/* Estilização do site inteiro */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Estilização do lado direito do site */
.text {
  color: #A020F0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.text a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #A020F0;
}

.screen {
  display: flex;
  height: 100vh;
}

.rightside {
  width: 400px;
  background-color:#FFFF00;
  padding: 50px;
}

.rightside label {
  display: block;
  margin-bottom: 20px;
  color: #A020F0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
}

.rightside input {
  width: 100%;
  border:1px solid #999;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  outline: 0;
}

 /* 
 Adição de Eventos em Botões
 https://www.blogson.com.br/como-criar-efeito-hover-no-botao/ 
 */
input[type=submit]:hover {
  cursor: pointer;
  background-color: #A020F0;
  color: #FFFF;
  transform: scale(1.1);
  transition: all 0.5s;
}

/* Estilização do lado esquerdo do site */
.leftside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftside img {
  max-width: 500px;
  height: auto;
}

/* Estilização do Rodapé do site */
footer,
footer a {
  color: #A020F0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

footer a {
  font-weight: bold;
}

.error {
  font-size: 11px;
  background-color: #FF0000;
  color: #FFFF;
  padding: 4px;
  border-radius: 5px;
}

/* 
  Aplicação da Responsividade
  inspirado em Ana da Silva:
  https://github.com/anadasilva87/verificadorCadastro 
*/

@media(max-width: 1024px) {
  .text {
    text-align: center;
  }

  .leftside {
    width: 290px;
  }

  .leftside img {
    width: 290px;
  }

  .rightside {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    height: 125vh;  
  }  

  .right-side label {
    margin-bottom: 35px;
  }
}

@media(max-width: 750px){
    .leftside{
        display: none;
    }
    .rightside{
        height: 125vh;
        width: 125vh;
    }   
}


  